@import url('https://fonts.googleapis.com/css2? family = Encode + Sans + SC: wght @ 800 & display = swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Encode Sans SC', sans-serif;
}
.container {    
    background-image: url(../assets/back-friday2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}
img {
    width: 200px;
}
.content {    
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #a9a9a9;
    width: 40%;
    height: 100%;   
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}
.title {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}
.title-second {
    color: #a9a9a9;
}
.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #a9a9a9;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-primary:hover {
    background-color: #fff;
    color: royalblue;
}
.btn-second {
    background-color: #a9a9a9;
    border: 1px solid #fff;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid  #a9a9a9;
    color:  #a9a9a9;
}
.first-content {
    display: flex;
}
.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 8;
}
.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width:  55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color:   #a9a9a9;
    padding: 0 5px;
}
.second-content {
    position: absolute;
    display: none;
}